apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: sample-app
commonLabels:
  environment: production
patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: sample-app
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: sample-app
