apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: infrastructure
resources:
  - ../../base
commonLabels:
  environment: staging
patches:
  - path: nginx-ingress-patch.yaml
    target:
      kind: HelmRelease
      name: ingress-nginx
  - path: wiz-sensor-patch.yaml
    target:
      kind: HelmRelease
      name: wiz-sensor
